* {
	box-sizing: border-box;
}

.info-dialog {
	color: grey;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	pointer-events: all;
}

.container-main {
	width: 100%;
	padding-right: 40px;
	position: relative;
}

.container-main.station-title {
	height: 45px;
}

.container-expand {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: top;
	opacity: 1.0;
}

.container-expand.radar {
	padding-right: 40px;
}

@media screen and (max-width:900px) {
	.info-dialog {
		margin: 10px;
		width: calc(100% - 20px);
		height: fit-content;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 2px 2px 4px grey;
	}
	/* 描画初期化時点ではcss transition タグが無い 
	アニメーション定義より先に記述すること*/
	.container-expand.radar {
		height: 0;
		visibility: hidden;
	}
	.container-expand.station-detail {
		height: var(--expand-height);
	}
}

/* height: 0px <=> --expand-height でアニメーション */

.container-expand.enter {
	visibility: visible;
	height: 0;
	transform: scaleY(0);
	opacity: 0.0;
}

.container-expand.enter-active {
	transition: all 300ms ease-in;
	height: var(--expand-height);
	transform: scaleY(1);
	opacity: 1.0;
	visibility: visible;
}

.container-expand.enter-done {
	height: var(--expand-height);
	transform: scaleY(1);
	visibility: visible;
}

.container-expand.exit {
	height: var(--expand-height);
	transform: scaleY(1);
	visibility: visible;
	opacity: 1.0;
}

.container-expand.exit-active {
	transition: all 300ms ease-out;
	height: 0;
	transform: scaleY(0);
	opacity: 0.0;
	visibility: visible;
}

.container-expand.exit-done {
	height: 0;
	transform: scaleY(0);
	visibility: hidden;
}

/* height: --station-list-height x 1 ~ x2 でアニメーション */


.container-accordion {
	width: 100%;
	position: relative;
	height: var(--accordion-height-base);
}

.container-accordion.enter-active {
	transition: all 300ms ease-in;
	height: calc(var(--accordion-height-base) * 2);
}

.container-accordion.enter-done {
	height: calc(var(--accordion-height-base) * 2);
}

.container-accordion.exit {
	height: calc(var(--accordion-height-base) * 2);
}

.container-accordion.exit-active {
	transition: all 300ms ease-out;
	height: var(--accordion-height-base);
}

.container-accordion.exit-done {
	height: var(--accordion-height-base);
}

/* アニメーションに使うサイズ変数
画面サイズに応じて表示サイズを変える */
:root {
	--expand-height: 0px;
	--accordion-height-base: 0px;
}

@media screen and (max-width:900px) and (max-height:800px) {
	.scroll-container.lines {
		height: 60px;
	}
	.container-expand.radar {
		--expand-height: 200px;
		/* 展開時のサイズ */
	}
	.container-accordion.station-list {
		--accordion-height-base: 150px;
		/* 基本サイズ */
	}
	.container-expand.station-detail {
		--expand-height: 140px;
	}
}

@media screen and (max-width:900px) and (min-height:800px) {
	.scroll-container.lines {
		height: 100px;
	}
	.container-expand.radar {
		--expand-height: 200px;
		/* 展開時のサイズ */
	}
	.container-accordion.station-list {
		--accordion-height-base: 200px;
		/* 基本サイズ */
	}
	.container-expand.station-detail {
		--expand-height: 180px;
	}
}


/* 画面幅が大きい場合はアニメーション等を無視して常に表示する
 他cssを上書きするため最後に記述すること */
@media screen and (min-width:900px) {
	.info-dialog {
		width: 100%;
		height: 100%;
		box-shadow: 2px 0 4px grey;
	}
	.container-main.radar {
		height: calc(100% - 180px);
	}
	.container-main.radar.position {
		height: calc(100% - 220px);
	}

	/* 描画初期化時点ではcss transition タグが無い */
	.container-expand.station-detail {
		/* 常に表示 */
		--expand-height: 180px;
		height: 180px;
		transform: scaleY(1);
		visibility: visible;
	}
	.container-expand.radar {
		/* 残りの高さいっぱいに表示 */
		--expand-height: 100%;
		height: 100%;
		transform: scaleY(1);
		visibility: visible;
	}

	.scroll-container.lines {
		height: 100px;
	}
	.icon-action.radar, .icon-action.current-pos {
		visibility: hidden;
		pointer-events: none;
	}
	.container-accordion.station-list {
		/* 残りの高さいっぱいに表示 */
		height: calc(100% - 80px);
	}
	.bottom-container {
		display: none;
	}
}




.container-main.radar {
	padding: 3px;
	width: 100%;
}

.container-main.line {
	height: 80px;
}

.container-main.stations {
	padding: 3px;
	width: 100%;
}

.title-name {
	font-size: large;
	width: fit-content;
	margin: auto;
	height: fit-content;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

.title-name.kana {
	font-size: x-small;
	margin-top: -5px;
	padding-bottom: 1px;
}

.title-container {
	width: fit-content;
	height: fit-content;
	padding: 3px;
	color: black;
	max-width: 100%;
}

.title-container.line {
	max-width: calc(100% - 36px);
}

.icon-station {
	width: 27px;
	height: 27px;
	margin: 3px;
}

.container-description {
	font-size: small;
	text-align: start;
	height: fit-content;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: clip;
	margin: auto;
	margin-left: 0;
}

.container-description.location {
	margin-top: -5px;
}

.container-description.loading-mes {
	padding: 10px;
}

.horizontal-container {
	display: flex;
	width: 100%;
	height: fit-content;
}

.horizontal-container.position {
	margin-top: 5px;
}

.horizontal-container.radar-title {
	margin-bottom: -10px;
}

.icon-line {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 2px 2px 2px 2px;
}

.icon-line.big {
	width: 26px;
	height: 26px;
	margin: 5px;
}

table {
	table-layout: fixed;
	width: 100%;
	max-width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	border-collapse: collapse;
}

.list-cell {
	cursor: pointer;
}

.list-cell:hover {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 2px 2px 2px 2px;
}

.line-item.icon {
	width: 20px;
}

.line-item.line {
	font-size: small;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
}

.station-cell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
}

.station-item.name {
	font-size: small;
	color: black;
}

.station-item.name-kana {
	font-size: x-small;
	color: grey;
}

.scroll-container {
	overflow-y: scroll;
	width: 100%;
	-ms-overflow-style: none;
	/* IE, Edge 対応 */
	scrollbar-width: none;
	/* Firefox 対応 */
}

.scroll-container::-webkit-scrollbar {
	/* Chrome, Safari 対応 */
	display: none;
}

.scroll-container.lines {
	padding: 7px;
	width: 100%;
	margin-top: 5px;
}

.scroll-container.radar {
	height: calc(100% - 30px);
}

.scroll-container.stations {
	padding: 7px;
	width: 100%;
	height: 100%;
}

.button-container {
	position: absolute;
	z-index: 20;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 40px;
}

.icon-action {
	cursor: pointer;
	position: relative;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
}

.bottom-container {
	position: absolute;
	right: 5px;
	bottom: 0px;
}

.icon-action:hover {
	filter: drop-shadow(2px 2px 2px grey);
}

.toggle-button {
	display: inline-block;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-image: url(../img/ic_above.png);
	background-size: contain;
}

#toggle-list {
	display: none;
}

.icon-action.expand {
	transform: rotateZ(180deg);
}

.toggle-button, .icon-action.toggle>input[type="checkbox"] {
	transform: rotateZ(180deg);
}

.icon-action.toggle>input[type="checkbox"]:checked~.toggle-button {
	transform: rotateZ(0deg);
}

.icon-radar {
	width: 24px;
	height: 24px;
	margin: 3px;
}

.radar-k {
	margin: 3px;
	height: 30px;
	width: fit-content;
	font-size: medium;
}

.radar-item {
	color: grey;
	font-size: small;
	vertical-align: middle;
}

.radar-item.index {
	color: blue;
	width: 20px;
}

.radar-item.dist {
	color: black;
	width: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 60px;
	text-align: center;
}

.radar-item.station {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 240px;
	text-align: start;
}

.position-title {
	font-size: smaller;
	background-color: #154bb6;
	color: white;
	border-radius: 5px;
	width: fit-content;
}

.station-distance {
	color: black;
}

.arrow-right {
	width: 16px;
	height: 16px;
	margin: 2px;
	margin-top: auto;
	margin-bottom: auto;
	transform: rotate(90deg) scaleX(0.8) scale(1.2);
}