

.Dialog-container{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	width: 100%;
	max-width: 320px;
	pointer-events: none;
}

@media screen and (min-width:900px){

.Dialog-container{
	transform: translateX(-120%);
	bottom: 0;

}

.Dialog-container.enter{
	transform: translateX(-120%);
}

.Dialog-container.enter-active{
	transition: all 300ms ease-out;
	transform: translateX(0);
}
.Dialog-container.enter-done{
	transform: translateX(0);
}

.Dialog-container.exit{
	transform: translateX(0);
}

.Dialog-container.exit-active{
	transition: all 300ms ease-in;
	transform: translateX(-120%);
}


.Dialog-message{
	position: absolute;
	width: 160px;
	height: 40px;
	top: 10px;
	left: calc(100% + 10px);
}

}


@media screen and (max-width:900px) {

.Dialog-container{
	transform: translateY(-120%);
	height: fit-content;

}

.Dialog-container.enter{
	transform: translateY(-120%);
}

.Dialog-container.enter-active{
	transition: all 300ms ease-out;
	transform: translateY(0);
}
.Dialog-container.enter-done{
	transform: translateY(0);
}

.Dialog-container.exit{
	transform: translateY(0);
}

.Dialog-container.exit-active{
	transition: all 300ms ease-in;
	transform: translateY(-120%);
}


.Dialog-message{
	position: absolute;
	width: 160px;
	height: 40px;
	top: calc(100% + 10px);
	left: 10px;
}

}

.Dialog-frame{
	width: 100%;
	height: 100%;
	position: relative;
}

.Dialog-message{
	background-color: rgba(255,255,255,0.9);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 2px 2px 4px grey;
	display: none;
	transform-origin: left top;
}


.Dialog-message.enter-done{
	display: flex;
}

.Wait-message{
	display: inline-block;
	font-size: small;
	line-height: 40px;
	height: 40px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

.Progress-circle{
	display: inline-block;
	position: relative;
	width: 34px;
	height: 34px;
	margin: 3px;
	border-radius: 50%;
	z-index: 1;
	overflow: hidden;
	background: #154bb6;
	transform-origin: center;
	animation: rotate-circle 2.2s linear infinite;
}

.Progress-circle-inside{
	position: absolute;
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 5px;
	border-radius: 50%;
	z-index: 4;
	background: #ffffff;
}

.Progress-circle::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0%;
	width: 50%;
	height: 100%;
	background: #DDD;
	z-index: 2;
	transform-origin: right 50%;
	animation: rotate-circle-left 2s linear infinite;
}

.Progress-circle::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0%;
	width: 50%;
	height: 100%;
	background: #DDD;
	z-index: 3;
	transform-origin: left 50%;
	animation: rotate-circle-right 2s linear infinite;
}

@keyframes rotate-circle{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

@keyframes rotate-circle-left{
	0% {transform: rotate(0deg);}
	25% {transform: rotate(0deg);}
	50% {
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0,0,0.3,1);
	}
	75% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
		animation-timing-function: cubic-bezier(0,0,0.3,1);
	}
}

@keyframes rotate-circle-right{
	0%{
		transform: rotate(0deg);
		background: #DDD;
		animation-timing-function: cubic-bezier(0.7,0,1,1);
	}
	25%{
		transform: rotate(180deg);
		background: #DDD;
	}
	25.01%{
		transform: rotate(0deg);
		background: #154bb6;
	}
	50%{
		transform: rotate(0deg);
		background: #154bb6;
		animation-timing-function: cubic-bezier(0.7,0,1,1);
	}
	75%{
		transform: rotate(180deg);
		background: #154bb6;
	}
	75.01%{
		transform: rotate(0deg);
		background: #DDD;
	}
	100%{
		transform: rotate(0deg);
		background: #DDD;
	}

}


.Map-relative{
	position: relative;
	width: 100%;
	height: 100%;
}

.Map{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	bottom: 0px;
	z-index: 5;
}