
.info-modal.container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 320px;
	pointer-events: none;
}

.info-modal.holder{
	position: relative;
	pointer-events: all;
}

.info-modal.holder.current-position{
	z-index: 5;
}

@media screen and (min-width:900px){

/* 画面下部まで高さいっぱい */
.info-modal.container {
	bottom: 0;
}

/* 横方向にアニメーション */
.info-modal.holder,
.info-modal.holder.enter{
	height: 100%;
	transform: translateX(-120%);
}

.info-modal.holder.enter-active{
	transition: all 300ms ease-out;
	transition-delay: 10ms;
	transform: translateX(0);
}
.info-modal.holder.enter-done{
	transform: translateX(0);
}

.info-modal.holder.exit,
.info-modal.holder.exit-active{
	transform: translateX(-120%);
}

}


@media screen and (max-width:900px) {

/* 縦方向にアニメーション */
.info-modal.holder,
.info-modal.holder.enter{
	transform: translateY(-120%);
	height: fit-content;
}

.info-modal.holder.enter-active{
	transition: all 300ms ease-out;
	transition-delay: 10ms;
	transform: translateY(0);
}
.info-modal.holder.enter-done{
	transform: translateY(0);
}

.info-modal.holder.exit,
.info-modal.holder.exit-active{
	transform: translateY(-120%);
}

}

.Map{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	bottom: 0px;
	z-index: 5;
}

.menu.mylocation {
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 1px 1px 5px grey;
	width: 40px;
	height: 40px;
	right: 10px;
	bottom: 120px;
	border-radius: 2px;
}

.icon.mylocation {
	width: 100%;
	height: 100%;
	filter: brightness(90%);
	cursor: pointer;
}

.icon.mylocation:hover {
	filter: drop-shadow(2px 2px 2px grey);
}

.progress-message{
	display: inline-block;
	font-size: small;
	height: 30px;
    line-height: 18px;
	width: fit-content;
	text-align: left;
	vertical-align: middle;
	padding: 6px;
}

.progress-container{
	width: fit-content;
	height: 22px;
	margin: 4px;
}

.progress-banner{
	position: relative;
	width: fit-content;
	height: 30px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 2px 2px 4px grey;
	display: none;
	transform-origin: center;
}

.progress-banner.enter-done{
    display: flex;
}

.progress-banner-container{
	position: absolute;
	height: fit-content;
	bottom: 15px;
	left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}